<article id="sl_main_question" class="sl_main_list">
	<h3><%=t('activerecord.models.question') %></h3>
	<ul>
		<% unless @questions.empty? %>
		<% @questions.each do |question| %>
		<li>
			<span class="sl_name"><%=userName(question,7) %></span>
			<%= link_to question.title.truncate(16), question  %>
		</li>
		<% end %>
		<% else %>
		<li><%=t(:no_data) %></li>
		<% end %>
	</ul>
	<%=link_to t(:link_more),questions_path,:class=>'more' %>
</article>