<section id="board_password_fail" class="<% if(params[:no_layout]) %>check_password_form<% else %>sub_main<% end %>">
	<div class="section_top">
		<h2><%=@board_name %></h2>
		<% if(params[:no_layout]) %>
			<%= link_to '닫기',{:action=>'index'},{:class=>'close_popup'} %>
		<% else %>
		<p class="path"><%=link_to '홈으로',root_path,:title=>'홈으로' %>  &gt; <strong><%=@board_name %></strong></p>
		<% end %>
	</div>
	<div>
	ㅇㅇ
	</div>
	<% unless(params[:no_layout]) %>	
	<div id="sl_content_bottom_menu">	
		<%= link_to '돌아가기', :action=>'index' %>
	</div>
	<% end %>
</section>
<% if(params[:no_layout]) %>
<script type="text/javascript">
$(document).ready(function(){
	$('.close_popup').click(function(){
		oinst.close();
		return false;
	});
	
	$("#board_password_form form input:password").focus();
	$("#board_password_form form").submit(function(){
		var password=$.trim($(this).find('input:password').val());		
		if(password=='') {
			alert('비밀번호를 입력해주세요');
			$("#board_password_form input:password").focus()
			return false;
		}
		oinst.close();
	});
});	
</script>
<% end %>