<section id="board_password_form" class="<% if(params[:no_layout]) %>check_password_form<% else %>sub_main<% end %>">
	<div class="section_top">
		<h1><%=@controller_name %></h1>
		<% if(params[:no_layout]) %>
			<%= link_to '닫기',{:action=>'index'},{:class=>'close_popup'} %>
		<% else %>
		<p class="path"><%=link_to '홈으로',root_path,:title=>'홈으로' %>  &gt; <strong><%=@controller_name %></strong></p>
		<% end %>		
	</div>
	<p id="notice"><%= notice %></p>	
	<%= form_tag do %>
		<div class="field">
			<%= label_tag :password,'비밀번호' %><br />
			<%= password_field_tag :password,'',{:class=>'sl_input',:required=>'required'} %> <%= submit_tag '제출' %>
		</div>
	<% end %>
	<% unless(params[:no_layout]) %>
	<div id="sl_content_bottom_menu">	
		<%= link_to '돌아가기', :action=>'index' %>
	</div>
	<% end %>
</section>
<% if(params[:no_layout]) %>
<script type="text/javascript">
$(document).ready(function(){
	$('.close_popup').click(function(){
		oinst.close();
		return false;
	});
	
	$("#board_password_form form input:password").focus();
	$("#board_password_form form").submit(function(){
		var password=$.trim($(this).find('input:password').val());		
		if(password=='') {
			alert('비밀번호를 입력해주세요');
			$("#board_password_form input:password").focus()
			return false;
		}
		oinst.close();
	});
});	
</script>
<% end %>