<section id="sl_notice_index" class="table-responsive"> 
  <table width="100%" cellpadding="0" cellspacing="0" class="table table-striped table-hover">
		<colgroup>
			<col width="100px" />
			<col />
			<col width="70px" />
			<col width="130px" />
    <% if can?(:update, Gallery) || can?(:delete, Gallery) %>
    <col <%=raw manage_width(Gallery) %> />
    <% end %>			
		</colgroup>
		<thead>
			<tr>
				<th><p class="sl_name"><%=t(:label_photo) %></p></th>
				<th><p class="sl_title"><%=t(:label_title) %></p></th>
				<th class="sl_right"><p class="sl_count">조회</p></th>
				<th class="sl_right"><p class="sl_registered_date">등록일</p></th>
   <th class="sl_right"><p class="sl_manage"><%=t(:label_manage) %></p></th>				
			</tr>
		</thead>
		<tbody>
			<tr class="none">
				<td><p class="sl_name"></p></td>
				<td><p><a class="sl_show_link" href="show.php"></a></p></td>
				<td class="sl_right"><p class="sl_count"></p></td>
				<td class="sl_right"><p class="sl_registered_date"></p></td>
			</tr>
			<% unless @admin_galleries.empty? %>
			<% @admin_galleries.each do |admin_gallery| %>
			<tr>
				<td><%=image_tag admin_gallery.photo.small_thumb %></td>
				<td><p><%= link_to admin_gallery.title, admin_gallery_path(admin_gallery)  %></p></td>
				<td class="sl_right"><p class="sl_count"></p></td>
				<td class="sl_right"><p class="sl_registered_date"><%=admin_gallery.created_at.to_date %></p></td>
      <% if can?(:update, admin_gallery) || can?(:delete, admin_gallery) %>
      <td>
        <% if can? :update, admin_gallery %>
        <%= link_to edit_admin_gallery_path(admin_gallery),:class=>"btn btn-default btn-sm" do %>
        <i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
        <% end %>
        <% end %>
        <% if can? :delete, admin_gallery %>
        <%= link_to admin_gallery_path(admin_gallery), :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-sm btn-danger pull-right" do %>
        <i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
        <% end %>
        <% end %>
      </td>
      <% end %>
			</tr>
			<% end %>			
			<% else %>
			<tr>
        <td colspan="5"><p><%=t(:no_data) %></p></td>
			</tr>
			<% end %>
		</table>
		<div id="sl_bottom_menu">
		<% if can? :create,Gallery %>
	<%= link_to '글쓰기', new_admin_gallery_path %>
	<% end %>
				<%= paginate @admin_galleries %>
	</div>
</section>
