<section id="slboard_notice_main" class="sub_main">
	<div class="section_top">
		<h2><%=@controller_name %></h2>
		<p class="path"><%=link_to '홈으로',root_path,:title=>'홈으로' %>  &gt; <strong><%=@controller_name %></strong></p>		
	</div>
	<table width="100%" cellpadding="0" cellspacing="0" class="slboard_list">
		<colgroup>
			<col width="100px" />
			<col />
			<col width="70px" />
			<col width="130px" />
		</colgroup>
		<thead>
			<tr>
				<th><p class="sl_name">이름</p></th>
				<th><p class="sl_title">제목</p></th>
				<th class="sl_right"><p class="sl_count">조회</p></th>
				<th class="sl_right"><p class="sl_registered_date">등록일</p></th>
			</tr>
		</thead>
		<tbody>
			<% if(@admin_recipes.length>0) %>
			<% @admin_recipes.each do |recipe| %>
			<tr>
				<td><p class="sl_name"></p></td>
				<td><p><%= link_to recipe.title, recipe  %></p></td>
				<td class="sl_right"><p class="sl_count"></p></td>
				<td class="sl_right"><p class="sl_registered_date"><%=getFormatDate(recipe.created_at.to_s) %></p></td>
			</tr>
			<% end %>			
			<% else %>
			<tr>
				<td colspan="4"><p>글이 없습니다.</p></td>
			</tr>
			<% end %>
		</table>
		<div id="sl_bottom_menu">
	<% if user_signed_in? %>
	<% if current_user.admin? %>			
<%= link_to '글쓰기', new_admin_recipe_path %>
	<% end %>
	<% end %>
			<div class="flickr_pagination">
				<%= paginate @admin_recipes %>
  		</div>
	</div>
</section>