<%= form_for @notice do |f| %>
	<% if @notice.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>
		<ul>
			<% @notice.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="form-group">
		<%= f.label :title %><br />
		<%= f.text_field :title, :class=>'form-control', :required=>'required' %>
	</div>
	<%= f.fields_for :notice_content do |c| %>
	<div class="form-group">
		<%= c.label :content %><br />
		<%= c.text_area :content, :id => "sl_content" %>
	</div>
	<% end %>
	<div class="form-group actions">
		<%= f.submit :class=>"btn btn-primary" %>
	</div>
<% end %>
