<%= form_for @history,:html=>{:class=>'slboard_form'} do |f| %>
	<% if @history.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@history.errors.count, "error") %> prohibited this notice from being saved:</h2>
		<ul>
			<% @history.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :year,'연도' %><br />
		<%= select_tag 'year', options_for_select([["Select" , "" ]] + @yrs.to_a,2011) %>
	</div>	
	<div class="field">
		<%= f.label :title,'제목 ' %><br />
		<%= f.text_field :title,{'class'=>'sl_input','required'=>'required'} %>
	</div>
	<div class="field">
		<%= f.label :content,'내용' %><br />
		<%= f.text_area :content,{'id'=>'sl_content','class'=>'sl_input','required'=>'required'}  %>
	</div>
	<div class="actions">
		<%= f.submit '작성' %>
	</div>
<% end %>
