<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<section id="sl_faq_index">	
	<article>
		<ol id="faqCategoryList">
			<% unless @faq_categories.empty? %>			
			<% @faq_categories.each do |faq_category| %>			
			<li <% if(@categoryId==faq_category.id) %>class="on"<% end %>>
				<%= link_to truncate(faq_category.title,:length => 20),faqs_path(:faq_category_id=>faq_category.id),{:class=>'title'} %>
				<% if(@categoryId==faq_category.id) %>				
				<% if user_signed_in? %>
				<% if current_user.admin? %>
				<div class="sl_faq_category_menu">
					<%= link_to t(:link_edit), edit_faq_category_path(faq_category) %><br />
					<%= link_to t(:link_delete), faq_category, method: :delete, data: { confirm: t(:delete_confirm) } %>
				</div>
				<% end %>
				<% end %>
				<% end %>				
			</li>
			<% end %>
  			<% else %>
			<li><%=t(:no_data)%></li>
			<% end %>
		</ol>		
	</article>
	<article>
		<dl id="faqList">
			<% unless @faqs.empty? %>		
			<% @faqs.each do |faq| %>
			<dt <% if @faq %><% if @faq.id==faq.id %>class="on"<% end %><% end %>>
				<%= link_to truncate(faq.title,:length => 80), faqs_path(:faq_category_id=>params[:faq_category_id],:id=>faq),{:class=>'title'} %>
				<% if user_signed_in? %>
				<% if current_user.admin? %>
				<div class="sl_faq_menu">
					<%= link_to t(:link_edit), edit_faq_path(faq) %> &nbsp; | &nbsp; <%= link_to t(:link_delete), faq, method: :delete, data: { confirm: t(:delete_confirm) } %>
				</div>
				<% end %>
				<% end %>
			</dt>
			<% if(@faq)%>
			<% if(faq.id==@faq.id) %>
					<dd><%=simple_format(@faq.faq_content.content) %></dd>
			<% end %>
			<% end %>
			
			<% end %>	
  			<% else %>	
  			<dt><%=t(:no_data)%></dt>
			<% end %>
		</dl>
	</article>
	<%= paginate @faqs %>
	<div id="sl_bottom_menu">
		<% if user_signed_in? %>
		<% if current_user.admin? %>
		<%= link_to 'FAQ 분류 생성',new_faq_category_path %> &nbsp; | &nbsp; <%= link_to 'FAQ 생성',new_faq_path(:faq_category_id=>@categoryId) %>
		<% end %>
		<% end %>
	</div>
</section>