<section id="main_main">
	<section class="section_main1">
		<%= render :partial => 'galleries/index' %>
		<%= render :partial => 'blogs/index_photo' %>
	</section>
	<section class="section_main2">		
		<%= render :partial => 'notices/index' %>
		<div class="clearfix visible-sm">&nbsp;</div>
		<%= render :partial => 'guest_books/index' %>
		<div class="clearfix visible-sm">&nbsp;</div>		
		<%= render :partial => 'questions/index' %>
	</section>
</section>