<section id="board_password_form" class="sub_main">
	<%= form_tag do %>
		<div class="field">
			<%= label_tag :password,'비밀번호' %>
			<%= password_field_tag :password,'',{:required=>'required'} %> <%= submit_tag '제출',:class=>'btn btn-primary' %>
		</div>
	<% end %>
	<div id="sl_content_bottom_menu">	
		<%= link_to '돌아가기', url_for(:action=>'show',:id=>@gid) %>
	</div>
</section>
