//= require application
//= require plugin/jquery.uri.js

$(document).ready(function() {
	
	$("#faqCategoryList a.title").click(getList);
	$("#faqList dt a.title").click(getContent);
	
	function getList() {
		var tt=$(this);
		var parent=$(this).parent();		
		
		$.getJSON($(this).attr('href')+'&format=json',function(data){
			$("#faqList").empty();
			if(data.faqs.length) {
				$.each(data.faqs,function(index,value){
					var a=$('<a class="title" href="/faqs?id='+value.id+'">'+value.title+'</a>').click(getContent);
					if(data.admin) {
						var div=$('<div class="sl_faq_menu"><a><%=I18n.t 'link_edit' %></a> &nbsp; | &nbsp; <a rel="nofollow" data-method="delete" data-confirm="<%=I18n.t 'delete_confirm' %>"><%=I18n.t 'link_delete' %></a></div>');
						div.find('a:first').attr('href','/faqs/'+value.id+'/edit');
						div.find('a:eq(1)').attr('href','/faqs/'+value.id);
						$('<dt>').appendTo("#faqList").append(a).append(div);
					} else {
						$('<dt>').appendTo("#faqList").append(a);
					}
				});
			} else {
				$('<dt><%=I18n.t 'no_data' %></dt>').appendTo("#faqList");
			}

			$("#faqCategoryList li").removeClass('on');
			parent.addClass('on');
			
			var faqCategoryId=$.uri.setUri(tt.attr('href')).param("faq_category_id");			
			
			if(data.admin) {
				$("#faqCategoryList li .sl_faq_category_menu").remove();
				var dd=$('<div class="sl_faq_category_menu"><a><%=I18n.t 'link_edit' %></a><br /><a rel="nofollow" data-method="delete" data-confirm="<%=I18n.t 'delete_confirm' %>"><%=I18n.t 'link_delete' %></a></div>');
				dd.find('a:first').attr('href','/faq_categories/'+faqCategoryId+'/edit');
				dd.find('a:eq(1)').attr('href','/faq_categories/'+faqCategoryId);
				parent.append(dd);
			}
			
			$('#sl_bottom_menu a:eq(1)').attr('href','/faqs/new?faq_category_id='+faqCategoryId);		
		});
		return false;
	}
	
	function getContent(){
		var gid=$.uri.setUri($(this).attr('href')).param("id");
		var parent=$(this).parent();
		$.getJSON('/faqs/'+gid+'.json',function(value){
			if(parent.next().get(0)) {
				if(parent.next().get(0).tagName!='DD') {
					parent.after('<dd>');	
				}
			} else {
				parent.after('<dd>');
			}
			$("#faqList dt").removeClass('on');
			$("#faqList dd").hide();
			parent.addClass('on');
			parent.next().html('<p>'+nl2br(value.content)+'</p>').slideDown();			
		});

		return false;
	}	
});

function nl2br (str, is_xhtml) {
	  var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
	  return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
}