<section id="board_confirm_delete">
  <p id="notice">게시물을 삭제하겠습니까?</p>    
  <%= form_tag(:method=>:delete) do %>  
    <%=hidden_field_tag :confirm,1 %>
    <div class="actions">
      <%= link_to t(:cancel),@parent %>
      <%= submit_tag t(:confirm),:class=>'btn btn-primary' %>
    </div>
  <% end %>
  <div id="sl_content_bottom_menu">
  <%= link_to t(:link_back), @parent %>
  </div>
</section>