<section id="sl_admin_guest_book_index" class="table-responsive">
  <table width="100%" cellpadding="0" cellspacing="0" class="table table-striped table-hover">
    <colgroup>
      <col width="100px" />
      <col />
      <col width="40px" />
      <col width="70px" />
      <col width="130px" />
      <% if can?(:update, GuestBook) || can?(:delete, GuestBook) %>
      <col <%=raw manage_width(GuestBook) %> />
      <% end %>
    </colgroup>
    <thead>
      <tr>
        <th><p class="sl_name">이름</p></th>
        <th><p class="sl_title">제목</p></th>
        <th><p class="sl_comment">댓글</p></th>
        <th><p class="sl_count">조회</p></th>
        <th><p class="sl_created_at">등록일</p></th>
        <th><p class="sl_manage"><%=t(:label_manage) %></p></th>
      </tr>
    </thead>
    <tbody>
      <% unless @admin_guest_books.empty? %>
      <% @admin_guest_books.each do |admin_guest_book| %>
      <tr>
        <td><p class="sl_name" title="<%=userName(admin_guest_book) %>"><%=userName(admin_guest_book,10) %></p></td>
        <td><p><%= link_to admin_guest_book.title, admin_guest_book_path(admin_guest_book)  %></p></td>
        <td class="sl_right"><p class="sl_count"></p></td>
        <td class="sl_right"><p class="sl_count"></p></td>
        <td class="sl_right"><p class="sl_registered_date"><%=admin_guest_book.created_at.to_date %></p></td>
        <% if can?(:update, admin_guest_book) || can?(:delete, admin_guest_book) %>
        <td>
          <% if can? :update, admin_guest_book %>
          <%= link_to edit_admin_guest_book_path(admin_guest_book),:class=>"btn btn-default btn-sm" do %>
          <i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
          <% end %>
          <% end %>
          <% if can? :delete, admin_guest_book %>
          <%= link_to admin_guest_book_path(admin_guest_book), :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-sm btn-danger pull-right" do %>
          <i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
          <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <% else %>
      <tr>
        <td colspan="6"><p><%=t(:no_data) %></p></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div id="sl_bottom_menu">
    <% if can? :create,GuestBook %>
    <%= link_to t(:link_new), new_admin_guest_book_path %>
    <% end %>
    <%= paginate @admin_guest_books %>
  </div>
</section>