<article id="sl_main_gallery" class="sl_main_list col-xs-12 carousel slide" data-ride="carousel" itemscope itemtype="http://schema.org/ImageObject">
	<h3><%= t('activerecord.models.gallery') %></h3>

	<% unless @galleries.empty? %>
	<ol class="carousel-indicators">
		<% @galleries.each_slice(6).each_with_index do |gallery,index| %>
		<li data-target="#sl_main_gallery" data-slide-to="<%= index %>" <% if index.zero? %>class="active"<% end %>></li>
		<% end %>
	</ol>
	<% end %>

	<% unless @galleries.empty? %>
	<div class="carousel-inner" role="listbox" style="clear:both">
		<% @galleries.each_slice(6).each_with_index do |gallery,index| %>
		<div class="item<% if index.zero? %> active<% end %>">
			<% gallery.each_with_index do |gallery,index2| %>
			<% if(index2==5) then g_class='nm' else if(index2==2) then g_class='m_nm' else g_class='' end %>
			<%= link_to image_tag(asset_path('ajax-loader.gif'),:width=>100,:height=>100,:alt=>gallery.title,:'data-original'=>gallery.photo.small_thumb,:class=>'lazy'),gallery_path(gallery),:class=>g_class %>
			<noscript>
				<%= link_to image_tag(gallery.photo.small_thumb,:width=>100,:height=>100,:alt=>gallery.title),gallery_path(gallery),:title=>gallery.title %>
			</noscript>
			<% end %>
			<% end %>			
		</div>
		<% end %>
	</div>
	<% else %>
	<div>
		<p>
			<%= t(:no_data) %>
		</p>
	</div>
	<% end %>

	<!-- Controls -->
	<a class="left carousel-control" href="#sl_main_gallery" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
	<a class="right carousel-control" href="#sl_main_gallery" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
	<%= link_to t(:link_more),galleries_path,:class=>'more' %>
</article>