<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<section id="admin_user_show">
	<div class="slboard_content">
		<div class="sl_content_header">
			<h3><%= @admin_notice.title %></h3>
			<p>작성자 :<%= @admin_notice.user.name %>&nbsp;&nbsp;&nbsp; 작성일 : <%= @admin_notice.created_at %></p>
		</div>
		<div class="sl_content_main">
			<div class="sl_content_text">  <%= simple_format(@admin_notice.notice_content.content) %></div>
		</div>
	</div>
	<div id="sl_bottom_menu">
		<% if user_signed_in? %>
		<% if current_user.admin? %>
		<%= link_to '글쓰기', new_admin_notice_path %>
		<%= link_to '글수정', edit_admin_notice_path(@admin_notice) %>
		<% end %>
		<% end %>		
		<%= link_to '목록으로',admin_notices_path %>
	</div>
</section>
