<footer>
	<div><%=t(:home_title) %>  &nbsp; | &nbsp; <%=t(:application_address) %>  &nbsp; | &nbsp;  <%=link_to t('activerecord.models.site'),about_index_path %>  <span class="hidden-phone">&nbsp; | &nbsp;  copyleft 2012</span>
		<!--<form id="language_form" action="">				
			<label for=""><%=t(:language) %></label>
			<select name="locale">
				<option value="en" <% if params[:locale]=='en' %>selected="selected"<% end %>>English</option>
				<option value="zh-CN" <% if params[:locale]=='zh-CN' %>selected="selected"<% end %>>中國語</option>
				<option value="ja" <% if params[:locale]=='ja' %>selected="selected"<% end %>>日本語</option>
				<option value="ko" <% if params[:locale]=='ko' %>selected="selected"<% end %>>한국어</option>				
			</select>
			<input type="submit" value="선택" />
		</form> -->
	</div>
	<div><%=t(:application_description) %></div>
</footer>