<!DOCTYPE html>
<html lang="<%=I18n.locale %>">
<head>
	<meta charset="utf-8" />
	<%=display_meta_tags :site => t(:application_name),
	:title=>@title,
	:description => @meta_description,
	:keywords => @meta_keywords,
	:separator => t(:title_separator),
	:viewport => "width=device-width, initial-scale=1.0, user-scalable=no",
	:reverse => true %>
	<%=display_meta_tags og: {
  	title:   @title,
  	description: @meta_description,
  	url:      @meta_url,
  	image:    @meta_image
	}
	%>
	<meta name="author" content="Sleeping-Lion" />
	<link rel="shortcut icon" href="<%=asset_path('favicon.ico') %>" />
	<%= stylesheet_link_tag "application", :media=>"all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<![endif]-->
</head>
<body itemscope itemtype="<%=@page_itemtype %>">
<%= render :partial => 'layouts/header' %>
<div id="mom">
	<div id="main" class="container">
		<% unless controller.controller_name=='home' %>
		<%= render :partial => 'layouts/page_header' %>
		<% else %>
		<div>&nbsp;</div>
		<% end %>
		<% unless	@menu_setting.nil? %>
		<% if @ad && @menu_setting.ad_position_id==2 %>
		<%= render :partial => 'layouts/ad' %>
		<% end %>
		<% end %>
		<div class="sub_main">
			<%=yield %>
		</div>
		<% unless	@menu_setting.nil? %>				
		<% if @ad && @menu_setting.ad_position_id==3 %>
		<%= render :partial => 'layouts/ad' %>
		<% end %>
		<% end %>
	</div>
</div>
<%= render :partial => 'layouts/footer' %>
<div class="slboard_overlay" id="overlay"></div>
<%= javascript_include_tag @script %>
</body>
</html>